.hideNav {
    top: -100%;
}

.navContainer {
    background-color: #ff5917;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: {
        left: 3rem;
        right: 7rem;
    }
    position: fixed;
    width: 100%;
    z-index: 1;
}

.navContainer .title {
    font-weight: 700;
    font-size: 2rem;
}

.navContainer .menu {
    font-size: 1rem;
    margin-top: 1.5rem;
    width: 100%;
    margin-right: 1.5rem;
    text-align: center;
}

.navContainer .menu:hover {
    color:linen;
}

.navContainer .menuIcon {
    display: none;
}

@media screen and (max-width: 768px) {
    .navContainer {
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 100%;
        z-index: 1;
    }

    .menuContainer {
        position: fixed;
        height: 100%;
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 1.5rem;
        right: -30%;
        background-color: white;
        transition: all .35s;
        z-index: 1;
    }
    
    .menuContainer_active {
        position: fixed;
        height: 100%;
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 1.5rem;
        right: 0;
        background-color: white;
        padding-top: 3rem;
        transition: all .35s;
        z-index: 1;
        top: 0;
    }

    .menuContainer_active .menu {
        font-size: 1rem;
        margin-top: 1.5rem;
        width: 100%;
        margin-left: 1.5rem;
        text-align: center;
    }

    .navContainer .menuIcon {
        display: block;
        position: fixed;
        right: 1rem;
        padding: 1rem;
        z-index: 2;
        top: 0;
    }
}
