@use '../../lib/colors.scss' as colors;

.container {
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 120px;
}

.styleBoard {
    width: 341px;
    height: 356px;
    background-color: #f7f7f7;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .boardText {
        color: colors.$primary-400;
        font-size: 14px;
        font-weight: 500;
    }
}

.section_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
    align-items: center;
    margin-top: 36px;
    font-size: 16px;
    font-weight: 700;
    color: colors.$primary-700
}

.title { 
    font-size: 16px;
    font-weight: 700;
    color: colors.$primary-700
}

.gradient {
    height: 98px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0.5), rgba(255,255,255,1));
}

.photoRoom {
    position: absolute;
    right: 0;
    bottom: 0;
}

.removedBox {
    position: relative;
    width: 100%;
    height: 100%;
}