@use '../../lib/colors.scss' as colors;

.container {
    padding-left: 17px;
    padding-top: 16px;
    padding-right: 12px;
    padding-bottom: 120px;
    font-weight: 500;
    font-size: 16px;
    color: #131313;
}

.gradient {
    height: 98px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0.5), rgba(255,255,255,1));
}