@use '../../lib/colors.scss' as colors;

.container { 
    padding-left: 17px;
}

.eachContainer {
    width: 341px;
    padding-bottom: 21px;
    border-bottom: 1px solid colors.$primary-200;
    padding-top: 18px;
}

.title {
    display: block;
    font-weight: 800;
    font-size: 14px;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pictureText {
    font-weight: 700;
    font-size: 10px;
    color: colors.$primary-600
}