@use '../../lib/colors.scss' as colors;

.container { 
    height: 100%;
}

.title {
    margin-left: 21px;
    margin-top: 37px;
    font-weight: 600;
    font-size: 16px;
    display: block;
}

.completeButton {
    position: absolute;
    bottom: 20px;
    width: 333px;
    height: 54px;
    background-color: #000000;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 21px;
}

.nextText {
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
    color: colors.$background;
}