# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
.env*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# setting
.vscode
lib/config/provider.ts
lib/server/auth.ts
lib/util/cookie.ts
lib/util/device.ts
lib/util/jwt.ts
lib/util/mathf.ts
lib/util/mouseEvent.ts
pages/500.tsx
public/icons/kakao-logo.png
public/icons/naver-logo.png
public/icons/personal-login-logo.png
sass/components/alert.module.scss
sass/components/banner.module.scss
sass/components/before-after.module.scss
sass/components/carousel.module.scss
sass/components/login-banner.module.scss
sass/components/modal.module.scss
sass/components/stylist-grid-view.module.scss
sass/lib/util.scss
sass/providers/modal.module.scss
sass/templates/login.module.scss
sass/widgets/avatar.module.scss
sass/widgets/icon.module.scss
sass/widgets/kakao-login-button.module.scss
sass/widgets/naver-login-button.module.scss
sass/widgets/section-header.module.scss
src/components/alert.tsx
src/components/banner.tsx
src/components/before-after.tsx
src/components/carousel.tsx
src/components/login-banner.tsx
src/components/modal.tsx
src/components/stylist-grid-view.tsx
src/components/app-bar/stylist-home.tsx
src/providers/modal.tsx
src/providers/auth/index.tsx
src/providers/auth/integrated.tsx
src/providers/auth/kakao.tsx
src/providers/auth/naver.tsx
src/providers/dialog/index.tsx
src/providers/dialog/integrated.tsx
src/providers/dialog/alert/index.tsx
src/providers/dialog/alert/inner.tsx
src/providers/dialog/confirm/index.tsx
src/providers/dialog/confirm/inner.tsx
src/providers/dialog/prompt/index.tsx
src/providers/dialog/prompt/inner.tsx
src/widgets/avatar.tsx
src/widgets/icon.tsx
src/widgets/kakao-login-button.tsx
src/widgets/naver-login-button.tsx
src/widgets/section-header.tsx
