.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 61px;
}

.title {
    width: 100%;
    padding-left: 45px;
    line-height: 0;

    font-size: 18px;

    &.centerTitle {
        width: unset;
        padding-left: unset;
    }
}

.landings, .actions {
    position: absolute;
    display: flex;
}

.landings {
    left: 15px;
}

.actions {
    right: 15px;
}
