.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 57px;
    margin-top: 40px;
}

.title {
    font-size: 18px;
}

.landings, .actions {
    position: absolute;
    display: flex;
}

.landings {
    left: 15px;
}

.actions {
    right: 15px;
}
