.button {
    width: 333px;
    height: 54px;
    border-radius: 5px;
    background-color: #ff5917;
    position: absolute;
    bottom: 25px;
    left: 20px
}

.buttonText {
    color:white;
    font-weight: 600;
    font-size: 14px;
}