@use '../lib/colors.scss' as colors;
@use '../lib/util.scss' as util;

@mixin grid {
    background-color: #f1f1f1;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: colors.$primary-400;
    margin: 0.5px;
}

.removedImg {
    position: relative;
    @include grid();
}

.removeBtn { 
    position: absolute;
    top: 16px;
    background-color: colors.$accent;
    width: 35px;
    height: 18px;
    border-radius: 3px;
    right: 13px;
    font-size: 10px;
    color: #ffffff;
}

@mixin big {
    @include grid();
    width: 169px;
    height: 169px;
    font-size: 14px;
}

.big {
    @include big();
}

.activeBig {
    @include big();
    border: 2px solid colors.$accent;
}

@mixin small {
    @include grid();
    width: 113px;
    height: 113px;
    font-size: 12px;
}

.small {
    @include small();
}

.activeSmall {
    @include small();
    border: 2px solid colors.$accent;
}

.modalContainer {
    width: 375px;
    background-color: colors.$background;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 98;
    overflow: auto;
    @include util.no-scroll();
}

.modalBox {
    width: 375px;
    background-color: colors.$background;
    color: colors.$primary-700;
    .modalHeader {
        position: absolute;
        top: 60px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 12px;
        padding-right: 12px;
        font-weight: 700;
        font-size: 18px;
    }
    .img { 
        margin-top: 197px;
        width: 375px;
        height: 375px;
        position: relative;
    }
    .crop {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 41px;
    }
    .cropText { 
        width: 300px;
        line-height: 22px;
        font-weight: 700;
        font-size: 14px;
        display: block;
    }
    .croppedImg {
        margin-top: 147px;
        width: 339px;
        height: 339px;
        margin-left: 18px;
        border-radius: 8px;
    }
    .removedText {
        font-weight: 700;
        font-size: 16px;
        color: colors.$primary-700;
        margin-left: 20px;
    }
    .removedImg {
        margin-top: 15px;
        width: 341px;
        height: 341px;
        margin-left: 17px;
        border-radius: 8px;
        margin-bottom: 61px;
    }
    .deleteBox {
        color: colors.$accent;
        font-weight: 600;
        font-size: 12px;
        border: 1px solid colors.$accent;
        width: 66px;
        height: 33px;
        border-radius: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 32px;
        margin-left: 143px;
    }
}
