.clothImage {
    border-radius: 1rem;
    padding: 0.25rem !important;
    display: inline;
}

.container {
    padding-top: 25px;
    margin: 0px auto;
    overflow: scroll;
    padding-left: 18px;
}

.container::-webkit-scrollbar {
    display: none;
}