@use '../lib/colors.scss' as colors;
@use '../lib/util.scss' as utils;
.header {
    font-weight: 700;
    font-size: 16px;
    color: colors.$primary-700;
    line-height: 22px;
    margin-top: 30px;
    display: block;
}

.inputContainer { 
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 14px;
    color: colors.$primary-700;
    > input {
        line-height: 26px;
    }
}

.flexContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
    @include utils.no-scroll();
}

.pictureText {
    color: #767474;
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
}

@mixin box {
    width: 106px;
    height: 106px;
    border-radius: 5px;
    margin-right: 11px;
}

.imgBox { 
    @include box();
    position: relative;
    flex-shrink: 0;

}

.box {
    @include box();
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.img { 
    @include box();
    object-fit: cover;
}

.delete { 
    position: absolute;
    top: 4px;
    right: 4px;
}