.profileDetailBox {
    height: 59vh;
    overflow: scroll;
}

.profileDetailBox::-webkit-scrollbar {
    display: none;
}

@mixin container {
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 1px solid #dcdcdc;
}

.infoContainer {
    @include container();
    padding-top: 21px;
    padding-bottom: 24px;
}

.name {
    font-size: 26px;
    font-weight: 800;
    margin-right: 10px;
}

.stylistText {
    font-size: 17px;
    font-weight: 300;
}

.careerText {
    font-size: 12px;
    font-weight: 500;
    color: #616161;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

@mixin indicator {
    font-size: 11px;
    font-weight: 600;
    line-height: 14.98px;
    color: #444444
}
.indicatorText {
    @include indicator();
}
.indicatorLine {
    @include indicator();
    margin-left: 7.08px;
    margin-right: 7.08px;
}

.titleText {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
}

.contentText {
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    color: #616161;
}

.introductionContainer {
    @include container();
    padding-top: 21px;
    padding-bottom: 18px;
}
.codyContainer { 
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 24px;
}
.clothImage {
    border-radius: 1rem;
    padding: 0.25rem !important;
}