@use '../lib/colors.scss' as colors;

.styleContainer {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    padding-left: 2px;
    width: 270px;
}

@mixin styleText {
    font-size: 12px;
    font-weight: 700;
}

.selectedText {
    @include styleText();
    color: colors.$background;
}

.notSelectedText {
    @include styleText();
    color: colors.$primary-600;
}
.flexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin box {
    padding: 8px 16px 7px 15px;
    border-radius: 20px;
    font-size: 12px;
    margin-right: 9px;
    margin-bottom: 9px;
}

.selectedBox {
    @include box();
    border: 1px solid colors.$accent;
    background-color: colors.$accent;
    color: colors.$background;
}

.notSelectedBox {
    @include box();
    border: 1px solid colors.$primary-300;
    color: colors.$primary-600;
}

.warningText { 
    font-size: 10px;
    font-weight: 700;
    color: colors.$accent;
    margin-left: 5px;
}