.container {
    display: flex;
    flex-direction: row;
    margin-left: 21px;
    margin-right: 21px;
}

.demandIcon {
    width: 48px;
    height: 4px;
    margin-right: 9px;
}

.supplyIcon {
    width: 58px;
    height: 4px;
    margin-right: 11px;

}