.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 83px;
    margin-left: 21px;
    margin-right: 21px;
}

.icon {
    width: 48px;
    height: 4px;
}