.container {
    display: flex;
    flex-direction: row;
    margin-left: 21px;
    margin-right: 21px;
    justify-content: space-between;
}

.demandIcon {
    width: 48px;
    height: 4px;
}

.supplyIcon {
    width: 58px;
    height: 4px;
}