@use '../../../../lib/colors' as colors;
@use './mixin.scss' as mixin;

.container {
    width: 228px;
    @include mixin.container();
}

.caption {
    font-size: 15px;
}

.content {
    margin-top: 14px;
    line-height: 1.5;
    font-size: 14px;
    color: colors.$primary-500;
}

.priceWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
    padding: 13px 0;
    border-top: 1px solid colors.$primary-200;
    border-bottom: 1px solid colors.$primary-200;
    font-size: 14px;

    .label {
        color: colors.$primary-500;
        font-weight: bold;
    }

    .price {
        color: colors.$accent;
        font-weight: bold;
    }
}

.notice {
    margin-top: 13px;
    font-size: 12px;
    line-height: 1.5;
    color: colors.$primary-500;
}

.selection {
   margin-top: 19px;
   display: flex;
   flex-direction: column;
}

@mixin button {
    padding: 10px 0;
    width: 100%;
    border-radius: 5px;
    color: white;
    font-size: 11px;
    font-weight: bold;
}

.resolve {
    @include button();
    background-color: colors.$accent;
}

.reject {
    @include button();
    margin-top: 6px;
    background-color: colors.$primary-700;
}
