@use '../../lib/colors.scss' as colors;
@use '../../lib/util.scss' as utils;

.container {
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    gap: 11px;
}

.figure {
    position: relative;
    border-radius: 7px;
    overflow: hidden;
    &::before {
        content: "";
        padding-bottom: 100%;
        display: block;
    }
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
