@use '../../lib/colors.scss' as colors;

.container {
    width: 100%;
    padding: 21px 17px;
    overflow: hidden;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 14px;
}
