.container {
    width: 100%;
    height: 54px;
    background-color: #FCE750;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    transform: translateY(1px);
}

.message {
    margin-left: 13px;
}
