.container {
    position: fixed;
    width: inherit;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 .scrim {
     position: fixed;
     display: none;
     width: inherit;
     height: 100%;
     background-color : rgba(0, 0, 0, .5);
     &.active {
         display: block;
     }
 }
