@use '../lib/colors.scss' as colors;

.container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(black, .5);
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('/images/login-background.png');
}

.logoContainer {
    position: absolute;
    top: 212px;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        margin-top: 17px;
        color: white;
        font-size: 18px;
    }
}

.buttonContainer {
    position: absolute;
    top: 409px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 21px;
    button + button {
        margin-top: 9px;
    }
}

.agree {
    text-align: center;
    margin-top: 24px;
    width: 251px;
    color: white;
    font-size: 11px;
}

.link {
    color: inherit;
    font-weight: bold;
}
