.container {
    width: 375px;
    height: 812px;
    margin: auto;
    background-color: #ffffff;
    border: 0.5px solid #dcdcdc;
}

.profile {
    height: 37.1%;
    background-color: rgb(237,100,50);
    padding: 3.0625rem 1.3125rem;
}