@use '../../../lib/colors.scss' as colors;

.underline {
    text-decoration: underline;
}

.form {
    margin-top: 29px;
    border: 1px solid colors.$primary-200;
    border-radius: 5px;
    background-color: white;
    display: flex;
    padding: 7px 8px;
}

.input {
    width: 100%;
    font-size: 10px;
}

.submit {
    color: white;
    font-size: 8px;
    background-color: colors.$accent;
    padding: 5px 10px;
    border-radius: 5px;
}

.charge {
    color: colors.$accent;
    font-weight: bold;
}

.link {
    color: #3165EE;
    text-decoration: underline;
}
