.container {
    display: flex;
    flex-direction: column;
    margin: 12px 17px 0px 17px;
    border-radius: 16px;
    box-shadow: 0 0 16px 0 rgba(black, .1);
    overflow: hidden;
}

.header {
    display: flex;
    padding: 16px;
}

.avatarWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    margin-left: 10px;
}

.caption {
    font-size: 14px;
    font-weight: bold;
}

.tagContainer {
    font-size: 10px;
    color: #969696;
}

.tag + .tag {
    margin-left: 5px;
}
